<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Home Page</title>
	<!-- viewport set, adjusting UI for all screen sizes -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- BOOTSTRAP LINK -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="bg-light">
	<!-- HEADER SECTION -->
	<nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
		<div class="navbar-brand">Welcome, {{user_name|default('User')}}</div>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<!-- NAVBAR -->
		<div class="collapse navbar-collapse" id="collapsibleNavbar">
			<ul class="navbar-nav ml-auto">
				{%if user_id%}
				<li class="nav-item">
					<a class="nav-link {% if url_for('index')== request.path %}active{% endif %}" href="{{url_for('index')}}">Calculation</a>
				</li>
				<li class="nav-item">
					<a class="nav-link {% if url_for('dashboard')== request.path %}active{% endif %}" href="{{url_for('dashboard')}}">History</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{{url_for('logout')}}">Logout</a>
				</li>    
				{%else%}
				<li class="nav-item">
					<a class="nav-link {% if url_for('login')== request.path %}active{% endif %}" href="{{url_for('login')}}">Login</a>
				</li>    
				<li class="nav-item">
					<a class="nav-link {% if url_for('register')== request.path %}active{% endif %}" href="{{url_for('register')}}">Register</a>
				</li> 
				{%endif%}
			</ul>
		</div>  
	</nav>


	{%block body_main%}{%endblock%}

	<!-- JS CODE SECTION -->
	<!-- Libraries required for bootstrap -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>