{%extends "base.html"%}
{%set title="History Page"%}

{%block body_main%}
<div class="container my-5">
	<div class="row">
		<div class="col-12 col-md-10 col-lg-8 mx-auto table-responsive">
			<table class="table table-dark table-striped w-100">
				<thead>
					<tr>
						<th>Base</th>
						<th>Input</th>
						<th>Decimal</th>						
						<th>Binary</th>
						<th>Hexadecimal</th>
					</tr>
				</thead>
				<tbody>
					{%for record in history%}
					<tr>
						<td>{{record["base"]}}</td>
						<td>{{record["input"]}}</td>
						<td>{{record["dec"]}}</td>
						<td>{{record["bin"]}}</td>
						<td>{{record["hex"]}}</td>
						</td>
					</tr>
					{%endfor%}
				</tbody>
			</table>
		</div>
	</div>
</div>
{%endblock%}